<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://minxianli-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://minxianli-001-site1.htempurl.com:8172/msdeploy.axd?site=minxianli-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>minxianli-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\minxianli-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoUniversityDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A1060C_minxianli;Persist Security Info=True;User ID=DB_A1060C_minxianli_admin;Password=liminxian423" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoSite.Models.ContosoUniversityDataEntities, ContosoSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A1060C_minxianli;Persist Security Info=True;User ID=DB_A1060C_minxianli_admin;Password=liminxian423" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoSite.Models.ApplicationDbContext, ContosoSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoUniversityDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ContosoModel.csdl|res://*/Models.ContosoModel.ssdl|res://*/Models.ContosoModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A1060C_minxianli;Persist Security Info=True;User ID=DB_A1060C_minxianli_admin;Password=liminxian423"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A1060C_minxianli;Persist Security Info=True;User ID=DB_A1060C_minxianli_admin;Password=liminxian423</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>