
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eat, Sleep, Game, Repeat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="~/Content/Animation.css">



</head>
<body>

    <div class="container">
        <div class="lcd-light"></div>
        <div class="monitor"></div>
        <div class="monitor-neck"></div>
        <div class="monitor-base"></div>
        <div class="desk"></div>
        <div class="tower"></div>
        <div class="chair-back"></div>
        <div class="chair-bottom"></div>
        <div class="clock">
            <div class="hour"></div>
            <div class="minute"></div>
        </div>
        <div class="pillow"></div>
        <div class="bed"></div>
        <div class="human-wrapper">
            <div class="human">
                <div class="head">
                    <div class="eyes"></div>
                </div>
                <div class="torso">
                    <div class="l-thigh">
                        <div class="l-lower-leg"></div>
                    </div>
                    <div class="r-thigh">
                        <div class="r-lower-leg"></div>
                    </div>
                    <div class="r-upper-arm">
                        <div class="r-lower-arm"></div>
                    </div>
                    <div class="l-upper-arm">
                        <div class="l-lower-arm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Animation.js"></script>



</body>
</html>
